{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block header %}{% endblock %}


{% block body %}
	<div class="flex items-center justify-center bg-gray-100 pt-12 mb-8 h-screen">
		<div class="w-full max-w-md bg-white shadow-xl rounded-lg px-8 pt-6 pb-8 mb-4">
			<h1 class="text-center font-bold text-xl mb-8">Mot de passe perdu ?</h1>
			{% for flash_error in app.flashes('reset_password_error') %}
				<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
					{{ flash_error }}
				</div>
			{% endfor %}
			{{ form_start(requestForm, {'attr': {'class': 'space-y-6'}}) }}
			<div>
				{{ form_label(requestForm.email, 'Email', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
				{{ form_widget(requestForm.email, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring focus:ring-orange-500'}}) }}
				<small class="block mt-2 text-sm text-gray-600">
					Entrez votre adresse e-mail, et nous vous enverrons un lien pour réinitialiser votre mot de passe.
				</small>
			</div>
			<button type="submit" class="bg-orange-600 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring focus:ring-orange-600 focus:ring-opacity-50 w-full">
				Envoyer le mail de réinitialisation
			</button>
			{{ form_end(requestForm) }}
		</div>
	</div>
{% endblock %}

{% block footer %}{% endblock %}
