{% extends 'base.html.twig' %}

{% block title %}Hello PanelController!
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags("useredit") }}
{% endblock %}

{% block header %}{% endblock %}


{% block body %}
	<div class="container mx-auto p-4">
		<div class="rounded-lg p-6">
			<h2 class="text-xl font-semibold text-gray-600 mb-4">Mes informations</h2>
			<form class="flex flex-col">
				<ul class="grid grid-cols-2 gap-4 w-auto">
					<li class="text-gray-700 text-sm font-bold mb-2">Nom :
						<input class="text-gray-600 border rounded w-full py-2 px-3 text-base font-normal shadow " maxlength="55" type="text" name="name" value="{{ app.user.name }}">
					</li>
					<li class="text-gray-700 text-sm font-bold mb-2">Prénom :
						<input class="text-gray-600 border rounded w-full py-2 px-3 text-base font-normal shadow" maxlength="55" type="text" name="surname" value="{{ app.user.surname }}">
					</li>
					<li class="text-gray-700 text-sm font-bold mb-2">Date d'anniversaire :
						<input class="text-gray-600 border rounded w-full py-2 px-3 text-base font-normal shadow" type="date" name="birthdate" value="{{ app.user.birthdate|date("Y-m-d") }}">
					</li>
					<li class="text-gray-700 text-sm font-bold mb-2">Adresse mail :
						<input class="text-gray-600 border w-full py-2 px-3 text-base font-normal shadow" maxlength="180" type="email" name="email" value="{{ app.user.email }}">
					</li>
					<li class="text-gray-700 text-sm font-bold mb-2">Numéro de téléphone :
						<input type="text" class="text-gray-600 border rounded w-full py-2 px-3 text-base font-normal shadow" maxlength="10" type="tel" name="phone" value="{{ app.user.phone }}">
					</li>
					<li class="text-gray-700 text-sm font-bold mb-2">Adresse :
						<input class="text-gray-600 border rounded w-full py-2 px-3 text-base font-normal shadow" maxlength="255" type="text" name="address" value="{{ app.user.address }}">
					</li>
					<li class="text-gray-700 text-sm font-bold mb-2">Code postal :
						<input class="text-gray-600 border rounded w-full py-2 px-3 text-base font-normal shadow " maxlength="5" type="text" name="zipcode" value="{{ app.user.zipcode }}">
					</li>
					<li class="text-gray-700 text-sm font-bold mb-2">Ville :
						<input class="text-gray-600 border w-full py-2 px-3 text-base font-normal shadow " maxlength="128" type="text" name="city" value="{{ app.user.city }}">
					</li>
				</ul>
				<input type="" id="validateBtn" class="mt-4 px-4 py-2 bg-orange-600 hover:bg-gray-100 hover:text-orange-600 rounded-md px-transition duration-300 ease-in-out text-center self-start" value="Valider les informations">
				<input type="submit" id="confirmBtn" class="mt-4 px-4 py-2 bg-green-600 hover:bg-gray-100 hover:text-green-600 rounded-md px-transition duration-300 ease-in-out hidden self-end" value="Confirmer les modifications">
			</form>
		</div>
	</div>
{% endblock %}

{% block footer %}{% endblock %}
